In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import f_regression

In [2]:
df = pd.read_csv("trainTorque.csv") 
df.head()

      Ag   IRr  Mag_w  ModelDepth   ORr     Torque
0  0.185  6.75    5.5       23.80  9.25   7.744282
1  0.185  6.75    5.5       29.75  9.25   9.680614
2  0.185  6.75    5.5       35.70  9.25  11.616599
3  0.185  6.75    5.5       41.65  9.25  13.552587
4  0.185  6.75    5.5       47.60  9.25  15.488918

In [3]:
features =[
    "air_gap",
    "InnerRotorR"
    "Mag_w",
    "ModelDepth",
    "OuterRoterR"
]

target= "Torque(N-m)"

In [4]:
targets=df["Torque"]
df.drop(columns=["Torque"], inplace=True)
df.head()

      Ag   IRr  Mag_w  ModelDepth   ORr
0  0.185  6.75    5.5       23.80  9.25
1  0.185  6.75    5.5       29.75  9.25
2  0.185  6.75    5.5       35.70  9.25
3  0.185  6.75    5.5       41.65  9.25
4  0.185  6.75    5.5       47.60  9.25

In [5]:
features_vectors=df.values

In [6]:
X_train, X_test, Y_train, Y_test= train_test_split(features_vectors, targets ,test_size=0.2,random_state=1)

In [7]:
reg=linear_model.LinearRegression()
reg.fit(X_train, Y_train)
print("Slope:", reg.coef_[0])
print("Intercept:", reg.intercept_)

Slope: -4.704259582682475
Intercept: 8.81832592824639

In [8]:
F_values, p_values =f_regression(X_train ,Y_train)
print("F values:", F_values)
print("p values:", p_values)

F values: [  88.57808417   53.31124806   37.16136434 1629.90919568  290.88436165]
p values: [1.57203358e-020 4.39923824e-013 1.34983456e-009 8.97925939e-249
 3.21037758e-060]

In [9]:
features_and_f_values= list(zip(df.columns,F_values))
features_and_f_values

[('Ag', 88.57808417452418),
 ('IRr', 53.31124806431245),
 ('Mag_w', 37.16136433732121),
 ('ModelDepth', 1629.9091956842385),
 ('ORr', 290.8843616544262)]

In [10]:
df_test=pd.read_csv("predict.csv")

In [11]:
x=df_test.values
y_te_pred=reg.predict(x)
print(y_te_pred.shape)
print(x.shape)

(4,)
(4, 5)

In [12]:
prediction = pd.DataFrame(y_te_pred, columns=["torque(N-m)"])
prediction

   torque(N-m)
0    11.655522
1    23.776905
2    23.110945
3    19.673405